.testimonial
    padding: 160px 0 50px 0
    &__container
        text-align: center
    &__cards
        margin-top: 50px
        display: grid
        justify-content: center
        gap: 20px
        grid-template-columns: repeat(2, 430px)
        grid-template-rows: repeat(2, auto)
    &__card
        &:last-child
            margin-top: -47px
    &__card-content
        padding: 40px
        background: #181818
        border: 1px solid #DEDEDE
        border-radius: 10px
        cursor: pointer
        transition: box-shadow .3s ease, transform .3s ease
        &:hover
            box-shadow: 0 0 15px 0 #FFFFFF
            transform: scale(1.01)
    &__human
        display: flex
        align-items: center
        &-name, &-job
            color: #FFFFFF
            font-weight: 500
            font-size: 16px
            line-height: calc((24 / 16) * 100%)
            letter-spacing: 0.2px
    &__img
        margin-right: 23px
    &__wrapper
        text-align: left
    &__text
        margin-top: 30px
        color: #FFFFFF
        font-size: 16px
        line-height: calc((24 / 16) * 100%)
        letter-spacing: 0.2px
        text-align: left
